name: Model Training CICD

permissions:
  id-token: write
  contents: write

on:
  push:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: iterative/setup-cml@v1

      - name: Train model
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install -r requirements.txt
          python train_model.py

          echo "# Model Training Report" > report.md
          echo "" >> report.md

          echo "## Logistic Regression & Random Forest Scores" >> report.md
          echo '```' >> report.md
          cat scores.txt >> report.md
          echo '```' >> report.md
          echo "" >> report.md

          echo "## Confusion Matrix" >> report.md
          echo "![](ConfusionMatrix.png)" >> report.md
          echo "" >> report.md

          echo "## Feature Importance" >> report.md
          echo "![](FeatureImportance.png)" >> report.md
          echo "" >> report.md

          cml comment create report.md
